*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-de-fundo: #090908;
    --cor-de-fundo-secundario: #181818;
    --cor-primaria: #ffff;
    --cor-destaques: #a1a1a1;
    --cor-de-texto: #fafafa;
    --cor-de-texto-secundario: #dadad8;
    --cor-borda: #27272A;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
    border-bottom: 1px solid var(--cor-destaques);
}

.link{
    color: var(--cor-primaria);
    text-decoration: none;
    font-size: 24px;
}

.link:hover{
    color: var(--cor-destaques);
}

.nome{
    font-size: 32px;
    color: var(--cor-destaques);
    font-weight:bolder; 
}

h1{
    display: flex;
    align-items: center;
    justify-content: center
}

.div-sobre{
    height: 250px;
    width: 100%;
    background-color: var(--cor-de-fundo-secundario); 
    border: 1px solid var(--cor-secundaria);     
    border-radius: 8px;
    padding: 30px;
    max-width: 800px;         
    box-sizing: border-box;
    margin: auto;
    margin-top: 60px;
}

.sobre-mim{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;

}

.text-sobre {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.8;
    color: var(--cor-de-texto);
    text-align: justify;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}